// Color 

$lightgrey: #efefef;
$darkgrey: #1C1C21;
$mediumgrey: #5C5C5C;
$line: #BCBCBC;

// Fonts

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Frank+Ruhl+Libre:wght@300;400;500&family=Karla:wght@300;400;500&family=Montserrat:wght@300;400;500;600;700;800&display=swap');

$bebas: 'Bebas Neue', cursive;
$montserrat: 'Montserrat', sans-serif;
$frank:  'Frank Ruhl Libre', serif;
$karla: 'Karla', sans-serif;
