@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Frank+Ruhl+Libre:wght@300;400;500&family=Karla:wght@300;400;500&family=Montserrat:wght@300;400;500;600;700;800&display=swap");
body {
  background-color: #efefef;
  padding-right: 150px;
}

body nav {
  height: 100%;
  width: 60px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body nav a {
  font-family: "Karla", sans-serif;
  color: #1C1C21;
  text-transform: uppercase;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 12px;
  -webkit-transform: rotate(-180deg);
  font-weight: 500;
}

body nav a:hover {
  color: #1C1C21;
  text-decoration: none;
}

body #socialmedia {
  height: 100%;
  width: 40px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #socialmedia a {
  cursor: pointer;
}

body #socialmedia a:hover {
  text-decoration: none;
}

body #socialmedia a img {
  max-width: 15px;
  margin: 10px 0;
}

body h1 {
  font-family: "Bebas Neue", cursive;
  line-height: 0.8;
  margin: 0;
  font-size: 80px;
  letter-spacing: 10px;
}

body h2 {
  font-family: "Frank Ruhl Libre", serif;
  color: #5C5C5C;
  font-weight: 400;
  text-align: right;
  font-size: 35px;
}

body .line {
  border-bottom: 1px solid #BCBCBC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

body .margin {
  padding: 100px 0 0 100px;
}

body .whoami {
  text-align: right;
  color: #5C5C5C;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  width: 90%;
  margin-top: 20px;
  margin-left: 10%;
  line-height: 1.7;
}

body .split {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
}

body .split .icon {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 28px;
}

body .split .icon img {
  max-height: 25px;
  margin-bottom: 10px;
}

body .split .icon hr {
  border-top: 2px solid #BCBCBC;
  width: 80%;
  margin: 10px 0 5px 0;
}

body .split .icon p {
  margin: 0;
  text-align: center;
  font-size: 13px;
  color: #5C5C5C;
  width: 80%;
}
/*# sourceMappingURL=style.css.map */