@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Frank+Ruhl+Libre:wght@300;400;500&family=Karla:wght@300;400;500&family=Montserrat:wght@300;400;500;600;700;800&display=swap");
body {
  background-color: #efefef;
  padding-right: 60px;
}

body .loader {
  background-color: #efefef;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .loader .content {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .loader .content img {
  max-width: 400px;
  margin: 0 auto;
}

body nav {
  height: 100%;
  width: 60px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body nav a {
  display: block;
  text-decoration: none;
  position: relative;
  font-family: "Karla", sans-serif;
  color: #1C1C21;
  text-transform: uppercase;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 12px;
  -webkit-transform: rotate(-180deg);
  font-weight: 500;
}

body nav a:hover {
  text-decoration: none;
  color: black;
}

body #socialmedia {
  height: 100%;
  width: 40px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  z-index: 999;
}

body #socialmedia a:hover {
  text-decoration: none;
}

body #socialmedia a img {
  max-width: 15px;
  margin: 10px 0;
  cursor: pointer;
}

body #socialmedia a img:hover {
  opacity: 0.5;
}

body h1 {
  font-family: "Bebas Neue", cursive;
  line-height: 0.8;
  margin: 0;
  font-size: 80px;
  letter-spacing: 10px;
}

body h2 {
  font-family: "Frank Ruhl Libre", serif;
  color: #5C5C5C;
  font-weight: 400;
  text-align: right;
  font-size: 35px;
}

body .line {
  border-bottom: 1px solid #BCBCBC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

body .margin {
  padding: 100px 100px 0 100px;
}

body .whoami {
  text-align: right;
  color: #5C5C5C;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  width: 100%;
  line-height: 1.7;
  padding: 20px 100px 0 10%;
}

body .split {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 100px 0 100px;
}

body .split .icon {
  width: 15%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

body .split .icon img {
  max-height: 25px;
  margin-bottom: 10px;
}

body .split .icon hr {
  border-top: 2px solid #BCBCBC;
  width: 80%;
  margin: 10px 0 5px 0;
}

body .split .icon p {
  margin: 0;
  text-align: center;
  font-size: 13px;
  color: #5C5C5C;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #efefef;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #5C5C5C;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 50px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #BCBCBC;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.lightbox .lb-image {
  border: none;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #5C5C5C;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
}

.ml11 .line1 {
  top: 0;
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}

#modal-container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  z-index: 99999;
  overflow: auto;
}

#modal-container.one {
  -webkit-transform: scaleY(0.01) scaleX(0);
          transform: scaleY(0.01) scaleX(0);
  -webkit-animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one .modal-background .modal {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one.out {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one.out .modal-background .modal {
  -webkit-animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container .modal-background {
  background: #5C5C5C;
}

#modal-container .modal-background .modals {
  width: 100%;
  height: 100%;
  background-color: #5C5C5C;
  padding: 100px;
}

@-webkit-keyframes unfoldIn {
  0% {
    -webkit-transform: scaleY(0.005) scaleX(0);
            transform: scaleY(0.005) scaleX(0);
  }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
            transform: scaleY(0.005) scaleX(1);
  }
  100% {
    -webkit-transform: scaleY(1) scaleX(1);
            transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldIn {
  0% {
    -webkit-transform: scaleY(0.005) scaleX(0);
            transform: scaleY(0.005) scaleX(0);
  }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
            transform: scaleY(0.005) scaleX(1);
  }
  100% {
    -webkit-transform: scaleY(1) scaleX(1);
            transform: scaleY(1) scaleX(1);
  }
}

@-webkit-keyframes unfoldOut {
  0% {
    -webkit-transform: scaleY(1) scaleX(1);
            transform: scaleY(1) scaleX(1);
  }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
            transform: scaleY(0.005) scaleX(1);
  }
  100% {
    -webkit-transform: scaleY(0.005) scaleX(0);
            transform: scaleY(0.005) scaleX(0);
  }
}

@keyframes unfoldOut {
  0% {
    -webkit-transform: scaleY(1) scaleX(1);
            transform: scaleY(1) scaleX(1);
  }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
            transform: scaleY(0.005) scaleX(1);
  }
  100% {
    -webkit-transform: scaleY(0.005) scaleX(0);
            transform: scaleY(0.005) scaleX(0);
  }
}
/*# sourceMappingURL=style.css.map */