// Color 

$lightgrey: #efefef;
$darkgrey: #1C1C21;
$mediumgrey: #5C5C5C;
$line: #BCBCBC;

// Fonts

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Frank+Ruhl+Libre:wght@300;400;500&family=Karla:wght@300;400;500&family=Montserrat:wght@300;400;500;600;700;800&display=swap');

$bebas: 'Bebas Neue', cursive;
$montserrat: 'Montserrat', sans-serif;
$frank:  'Frank Ruhl Libre', serif;
$karla: 'Karla', sans-serif;


body {
	background-color: $lightgrey;
	padding-right: 100px;

	nav {
		height: 100%;
		width: 60px;
		position: fixed;
		top: 0;
		right: 0;
		background-color: white;
		overflow-x: hidden;
		padding: 20px;
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;


		a {
			font-family: $karla;
			color: $darkgrey;
			text-transform: uppercase;
			writing-mode: vertical-rl;
			text-orientation: mixed;
			font-size: 12px;
			-webkit-transform: rotate(-180deg);
			font-weight: 500;

			&:hover {
				color: $darkgrey;
				text-decoration: none;
			}
		}
	  }

	  #socialmedia {
		height: 100%;
		width: 40px;
		position: fixed;
		top: 0;
		left: 0;
		overflow-x: hidden;
		padding: 20px;
		display: flex;
		justify-content: flex-end;
		flex-direction: column;

		a {
			cursor: pointer;
			&:hover {
				text-decoration: none;
			}

			img {
				max-width: 15px;
				margin: 10px 0;
			}
		}
	}

	h1 {
		font-family: $bebas;
		line-height: 0.8;
		margin: 0;
		font-size: 80px;
		letter-spacing: 10px;
	}

	h2 {
		font-family: $frank;
		color: $mediumgrey;
		font-weight: 400;
		text-align: right;
		font-size: 35px;
	}

	.line {
		border-bottom: 1px solid $line;
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		padding: 0;
	}

	.margin {
		padding: 100px 0 0 100px;
	}

	.whoami {
		text-align: right;
		color: $mediumgrey;
		font-family: $montserrat;
		font-size: 13px;
		width: 90%;
		margin-top: 20px;
		margin-left: 10%;
		line-height: 1.7;
	}

	.icon {
		flex-direction: column;
		align-items: center;
		padding: 0 100px;

		img {
			max-width: 30px;
		}

		hr {
			border-top: 1px solid red;
			width: 100%;
		}

		p {
			margin: 0;
			text-align: center;
			font-size: 13px;
			color: $middlegrey;
		}
	}
}

