@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Frank+Ruhl+Libre:wght@300;400;500&family=Karla:wght@300;400;500&family=Montserrat:wght@300;400;500;600;700;800&display=swap");
.squares {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.squares .square {
  border: 2px solid #e3e3e3;
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 100px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
  -webkit-transition: 2s;
  transition: 2s;
}

.squares .square:hover {
  opacity: 0.5;
}

.squares .square:hover > span {
  opacity: 0.5;
}

.squares .square span {
  text-align: center;
  margin: auto;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  font-family: "Frank Ruhl Libre", serif;
  color: #5C5C5C;
  font-weight: 200;
  -webkit-transition: 2s;
  transition: 2s;
}

#modal-container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  z-index: 99999;
  overflow: auto;
}

#modal-container.one {
  -webkit-transform: scaleY(0.01) scaleX(0);
          transform: scaleY(0.01) scaleX(0);
  -webkit-animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one .modal-background .modal {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one.out {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one.out .modal-background .modal {
  -webkit-animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container .modal-background {
  background: #5C5C5C;
}

#modal-container .modal-background .modals {
  width: 100%;
  height: 100%;
  background-color: #5C5C5C;
  padding: 100px;
}

#modal-container .modal-background .modals .timeline {
  max-width: 80%;
  margin: 50px auto;
}

#modal-container .modal-background .modals .coluna {
  width: 30%;
  margin: 30px auto;
}

#modal-container .modal-background .modals .coluna h3 {
  margin: 30px 0;
}

#modal-container .modal-background .modals .coluna .skill {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
}

#modal-container .modal-background .modals .coluna .skill span {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #5C5C5C;
  margin: 0 0 5px 0;
}

#modal-container .modal-background .modals .coluna .skill .bar {
  height: 12px;
  width: 100%;
  border-radius: 5px;
  background-color: white;
}

#modal-container .modal-background .modals .coluna .skill .bar .progress {
  height: 100%;
  width: 0%;
  background-color: #5C5C5C;
}

@-webkit-keyframes unfoldIn {
  0% {
    -webkit-transform: scaleY(0.005) scaleX(0);
            transform: scaleY(0.005) scaleX(0);
  }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
            transform: scaleY(0.005) scaleX(1);
  }
  100% {
    -webkit-transform: scaleY(1) scaleX(1);
            transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldIn {
  0% {
    -webkit-transform: scaleY(0.005) scaleX(0);
            transform: scaleY(0.005) scaleX(0);
  }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
            transform: scaleY(0.005) scaleX(1);
  }
  100% {
    -webkit-transform: scaleY(1) scaleX(1);
            transform: scaleY(1) scaleX(1);
  }
}

@-webkit-keyframes unfoldOut {
  0% {
    -webkit-transform: scaleY(1) scaleX(1);
            transform: scaleY(1) scaleX(1);
  }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
            transform: scaleY(0.005) scaleX(1);
  }
  100% {
    -webkit-transform: scaleY(0.005) scaleX(0);
            transform: scaleY(0.005) scaleX(0);
  }
}

@keyframes unfoldOut {
  0% {
    -webkit-transform: scaleY(1) scaleX(1);
            transform: scaleY(1) scaleX(1);
  }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
            transform: scaleY(0.005) scaleX(1);
  }
  100% {
    -webkit-transform: scaleY(0.005) scaleX(0);
            transform: scaleY(0.005) scaleX(0);
  }
}
/*# sourceMappingURL=xp.css.map */