@mixin botao{
    border: none;
    color: #111;
    font-family: 'Montserrat';
    font-weight: bold;
    letter-spacing: 0.2em;
    position: relative;
    padding: 15px 32px;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(245, 195, 195, 0);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  
          &:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #111;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
          -webkit-transition-property: transform;
          transition-property: transform;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
          }
    
          &:hover, &:focus, &:active {
          color: white;
          }
    
          &:hover:before, &:focus:before, &:active:before {
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
          }
      }
 
 
 /*-------------------------------------------------------------------------------------------------------------
INTRO
 --------------------------------------------------------------------------------------------------------------*/

 .introdapagina{
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	
	  .loading-text {
		width: 100%;
		height: 100px;
		line-height: 100px;
	  
		  span {
		font-size: 10px;
		  margin: 0 5px;}
	  }
	}


 /*-------------------------------------------------------------------------------------------------------------
 HEADER
 --------------------------------------------------------------------------------------------------------------*/
 
 html, body{

	header { padding: 5px 5px; }

}

nav{
display: none;
}

#menuToggle {
display: block;
right: 20px;
}

.menu-open{
	width: 100%;
	text-align: center;
	right: 0;
	left: 0;
	padding-top: 50%;
	}
  

.moldura{
position: absolute;
left: 10px;
}


 /*-------------------------------------------------------------------------------------------------------------
 FOOTER
 --------------------------------------------------------------------------------------------------------------*/
 
 footer { justify-content: center;
	.footer1 { display: flex;
		i { margin: 0 10px 0 10px; }
	}
	.footer2 { display: none; }
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4  {
background-image: none;
position: static;
}


/*-------------------------------------------------------------------------------------------------------------
GALLERY
--------------------------------------------------------------------------------------------------------------*/

.bgimg-1 {  background: #efefef; }
.mobileslider { margin-top: 65px; display: block; }
.row { display: none; }
#drawings button { display: none; }




 /*-------------------------------------------------------------------------------------------------------------
PROJECTS
 --------------------------------------------------------------------------------------------------------------*/

		
.projetos {
flex-direction: column;
margin: 0 10px;


	.snip1573 {
	max-width: 100%;
	height: auto;
	}
}

.Projects{
padding: 0px;
margin-top: 80px;

	.closebtn {
	width: 20px;
	margin-top: 5px;
	margin-right: 20px;
	}

	h4{
	font-size: 30px;
	padding-left: 20px;
	}

	p{
	font-size: 12px;
	padding: 10px 20px 30px 20px;
	text-align: justify;
	}
}

.alias{
	margin: auto;
    width: 100%;
	.slick-slide { 
	height: 400px; width: 450px; margin: 0 0px; 
	img{ width: 100%; height: auto; 
		align-content: center;
		justify-content: center; }
	}
}
.modelacao{
	.slick-slide { height: 250px; width: 450px; margin: 0 10px; 
	  img{ 
		height: auto;
		width: 100%;
		align-content: center;
		justify-content: center;}
	  }
	}

/*---------------------------------------------------------
                           SHOP
----------------------------------------------------------*/


.mobileslider, .shop-slider-mobile{
display: block;
}
  
#jssor_1{
	height: 250px !important;
	div{height: 250px; margin-top: 15px;
	img { top: -10px !important; 
	}
}
}



/*---------------------------------------------------------
                          ABOUT ME
----------------------------------------------------------*/

.about-me{
	padding: 100px 20px;
	p{
		padding: 0px;
	}
	.whoami{
		text-align: center;
	}
}


.Coluna-1-About {
	img { display:none; }
}
		
.icons{
	padding: 0px;
	flex-wrap: wrap;
	
	.icon1{
		width: 50%;
		padding: 10px;
	}
}

	

/*-------------------------------------------------------------------------------------------------------------
						Separadores
--------------------------------------------------------------------------------------------------------------*/


.bgimg-15{
display:none;
}

  .bgimg-341{
	background-color: #c1c6c9;
	height: 50px;

	.bgimg-34{
	  background: #303030;
	  height: 100px;
	  width: 100%;
	  clip-path: polygon(50% 50%, 0 0, 100% 0);
	}
  }
  


/*---------------------------------------------------------
                          SHOP1
----------------------------------------------------------*/

.myInfo{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 80px;
  text-align: justify;
}

.artigo{
width:100%;
padding: 5px;
}

.artigos{
padding: 80px 10px 10px 10px;

}

.shoppingcart{
margin-right: 0;
}

.shoppingcart img{
margin-top: 10px;
width: 30px;
}


#overlay-cart {
display: none;
width: 100%;
height: 100%;
}


.dropdown{
	margin-left: 30px;
}

.barraalign{
	padding: 0 10px 0 20px;
  }
  
/*---------------------------------------------------------
                          SHOP2
----------------------------------------------------------*/
.alinha5{
	flex-direction: column;
}

.erro {
font-weight: bold;
color: #DC2E2E;
font-size: 14px;
text-align: center;
}

#formulario{
border: none;
padding-right: 0px;
width: 100%;
}

.total{	
margin: 0;
margin-top: 100px;
width: 100%;

	.payment{
		width: 100%;
		margin: 0;
		padding: 15px 5% 15px 5%;
		
		
			p{
			font-size: 14px;
			width: 100%;
			}
			
			h3{
			width: 100%;
			font-size: 30px;
			margin-bottom: 20px;
			text-align: center;
			}
		}
    .cart{
	width: 100%;
	padding: 15px 20px 15px 20px;
	
        h3{
        width: 100%;
        font-size: 30px;
        margin-bottom: 20px;
        text-align: center;
        }
	}
	.links2shop{
		display: none;
	  }
	  
	  .links2shop_tablet{
		display: flex;
		flex-direction: column;
		margin: 0 100px 80px 100px;
		text-align: center;
			p{ /*BACK TO CART*/
			padding-top: 30px;
			text-decoration: underline;
			font-weight: bold;
			font-family: 'Montserrat';
			color: #111;
			}
			button{
			@include botao;
			margin-top: 5px;
			background-color: #111111;
			color: white;   
				&:before {
				border: 1px solid #777;
				background: #EFEFEF;
				color: #111; 
				}
				&:hover, &:focus, &:active {
				color: #111;
				}
		}
	  }
  
}




.paypal, .mbway{
padding: 25px;	
}

.checkfornews{
width: 60%;
margin-right: 20%;
margin-left: 20%;
}











/*---------------------------------------------------------
                          SHOP3
----------------------------------------------------------*/



.confirm_your_info h3{
	font-size: 30px;
	margin-bottom: 20px;
}

.confirm_your_info{
padding: 100px 5% 0 5%;
flex-direction: column;
	
	hr{
	border: 0.5px solid #777;
	display: block;
	}

	.info_verification{
	display: none;
	}
}

.info_verification-mobile{
width: 100%;
text-align: center;
padding-right: 0px;
font-family: 'Montserrat';
font-size: 14px;
display: block;

	p{
	line-height: 0.8;
	}
}



.bold{
font-weight: bold;
}

.info_verification2{
width: 100%;
border: none;
padding-left: 0px;
margin-top: 100px;

	
	.linhalateral{  
		padding-left: 0px;
		}
		.totaldacompra{
			padding: 0 0 0 0px;
		  }
}

.links{
width: 100%;
text-align: center;
margin-bottom: 80px;
flex-direction: column;

	p{
	padding-top: 15px;
	width: 100%;
	}
	button{
	margin: 0 15%;
	}
}





/*---------------------------------------------------------
                          SHOP4
----------------------------------------------------------*/


.tudo{
margin-bottom: 50px;
margin-top: 100px;
	img{
	margin-bottom: 30px;
	}
	h3{
	font-size: 25px;
	}
}

.social{
font-size: 15px;
}

.shop{
	margin:50px 0; 
	display: block;
}






/*---------------------------------------------------------
                  payments loading pages
----------------------------------------------------------*/


.loading{
	text-align: center;
	img{
		width: 30px;
	}	
}

.title{
	font-size: 60px !important;
	font-family: Bebas;
}

.Check{
	font-family: 'Montserrat'; 
	line-height: 200%; 
	font-size: 20px !important; 
	font-weight: bold;
}

.Check2{
	font-family: 'Montserrat'; 
	line-height: 200%; 
	font-size: 14px; 
	font-weight: bold;
}

#text{
	font-size: 14px;
}



#slideshowContainer {
	width: 400px;
  }