<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Vanessa Rieven</title>
<link rel="icon" href="img/icons/pena.png" type="image/icon type">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
<link href="lightbox/dist/css/lightbox.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/stylesheets/bgeffects.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/responsive.css">