    <!-- FIXED NAVS  -->
    <nav>
        <a href="/">Home</a>
        <a href="drawing">Drawings</a>
        <a href="3d">3D</a>
        <a href="web">Web Design</a>
        <a href="projects">Projects</a>
        <a href="cv">CV</a>
    </nav>
    <div id="socialmedia">
        <a target="_blank" href="https://www.instagram.com/vanessarievenart/">
            <img src="img/icons/insta.png">
        </a>
        <a target="_blank" href="https://www.artstation.com/vanessarieven">
            <img src="img/icons/artstation.png">
        </a>
        <a target="_blank" href="https://www.behance.net/vanessarieven">
            <img src="img/icons/behance.png">
        </a>
        <a target="_blank" href="https://www.youtube.com/channel/UC-nB7H4wBxB2BtGF5eOvgow">
            <img src="img/icons/youtube.png">
        </a>
        <a target="_blank" href="https://github.com/VanessaRieven">
            <img src="img/icons/git.png">
        </a>
    </div>
