/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  src: url('../montserrat-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../montserrat-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../montserrat-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../montserrat-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../montserrat-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../montserrat-v12-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}


@font-face{
    font-family:"Bebas";
    src:url("../98369def-383a-47a1-af6c-6a6afd028f38.eot?#iefix");
    src:url("../98369def-383a-47a1-af6c-6a6afd028f38.eot?#iefix") format("eot"),url("Fonts/5190181/956b9d39-5ee0-4dd6-8ca6-32e172727606.woff2") format("woff2"),url("Fonts/5190181/51efd2e1-1dee-40ea-a745-e11fddc95bef.woff") format("woff"),url("Fonts/5190181/50c2aa9a-043f-4097-bd8a-47d6bb834bc4.ttf") format("truetype");
}